.newGame{
  width: 45%;
  height: 400px;
  background-color:cadetblue;
  border: 1px solid black;
  margin-right: 5%;
  float: right;
}
.btn{
height: 30px;
display: block;
border: 1px solid rgb(17, 16, 16);
background-color: blanchedalmond;
}
.show-num-list {
  display: block;
  margin: 45px 0px;
  height: 45px;
  padding: 20px;
}
li {
  display: inline-block;
  margin-right: 5px;
  padding: 6px;
  border: 1px solid rgb(17, 16, 16);
  background: white;
  color: rgb(17, 16, 16);
  text-align: center;
  font-size: 24px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

